.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/Data
/output
/Results
/RData
.DS_Store

/source/00_Explore_neg_controls.R
/source/001_relAbund_neg_controls.R
/source/02_alpha-diversity.qmd
/source/03_pcoa-permanova.qmd
/source/03n_nonraref_pcoa-permanova_TODO.qmd
/source/04_RelAbund-Barcharts.qmd
/source/05_RelAbund_stats.qmd
/source/08_DESeq2_Sed_D4-D13.qmd
/source/09_DESeq2_Sed_D4-D20.qmd
/source/10_DESeq2_Sed_D4-D40.qmd
/source/11_DESeq2_Sed_D40-D66.qmd
/source/12_MicrobiomeMarker.qmd
/source/14_RDA-sediments-heteroatoms.qmd
/source/15_RDA-sediments-heteroatoms-totalAbund.pdf
/source/15_RDA-sediments-heteroatoms-totalAbund
/source/16_RDA-sed-heteroatoms-as-response_files
/source/16_RDA-sed-heteroatoms-as-response.html
/source/16_RDA-sed-heteroatoms-as-response.pdf
/source/16bis_RDA-no-outliers-not-for-publication.qmd
/source/images/
source/not_gitted

.Rapp.history
